__pycache__/
**/__pycache__/
.vscode/
**/.DS_Store
backlog.txt
data/*
history/*
saved_models/*
plots/*
hyperparameters/shapes/testing/**
hyperparameters/remote*
remote_downloads/
testing_runs.py
graveyard.py