__pycache__/
**/__pycache__/
.vscode/
**/.DS_Store
backlog.txt
data/*
results/history/*
results/saved_models/*
results/hyperparameters/shapes/*/
!results/hyperparameters/shapes/*.yaml
results/hyperparameters/cub/*/
!results/hyperparameters/cub/*.yaml
results/plots/*
graveyard.py
